html, body{
  padding: 0; /* remove the inherent padding and margins from html and body elements */
  margin:0;
  height: 100%; /* this forces the html and body elements to be the full height of the browser window */
}

.spacer{
  height: 100%;  /* stretch the element to the height of the browser window */
  background-color: lightcyan; /* helps us see where these elements start and end */
}

#container{
  position: relative; /* this allows us to make the 'box' absolute position relative to this container instead of the whole page */
}

#waypoints-list li{
  margin: 50% 60% 50% 0; /* adjust the margins to space out the list items */
}

#box { /* positions the 'box' element at the top of the 'container' element, offset 60% of the screen width from the left */
  position: absolute; 
  top: 0;
  margin-left: 60%;
}

.is-fixed { 
  position: fixed !important; /* overrides the absolute positioning of #box so element remains in place while the user scrolls */
  top: 25% !important; /* this value matches the offset value of the waypoint so the element doesn't jump around */
}

.is-bottom {
  top: auto !important; /* overrides the top value for #box so it isn't moved back to the top of 'container' */
  bottom: -300px;  /* sticks the box close to the bottom of 'container'. we offset by 300px so it looks like the box is in about the same spot as it was in its fixed state */
}

.hidden{
  opacity: 0; /* hides the element */
}